{
    "name":  "China",
    "port": "2456",
    "world":  "Chinatown",
    "password": "password",
    "gameid":  "896660",
    "steamcmd":  "C:\\Steamcmd\\steamcmd.exe",
    "forceinstalldir":  "C:\\Valheim",
    "backup":  "False",
    "backupdir":  "C:\\Valheim Backup",
    "backupretention":  "7"
}
