{
    "servername":  "China",
    "world":  "Chinatown",
    "port": "2456",
    "password": "password",
    "gameid":  "896660",
    "steamcmd":  "C:\\Steamcmd\\steamcmd.exe",
    "forceinstalldir":  "C:\\Valheim",
    "BackupsEnabled":  "False",
    "BackupsFolder":  "C:\\Valheim Backup",
    "BackupsDaysToKeep":  "7"
}
